/* In order to place the tracking correctly */
canvas.drawing, canvas.drawingBuffer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

#scanner-container > video {
    width: 100%;
}

#scanner-container {
    width: 100%;
}